<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="Development" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>

  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=CreativeCafeDev;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

  </system.web>
</configuration>
